# data handling
numpy
pandas
stockstats
yfinance
#pyfolio

# Model Building Requirements
scikit-learn
gym
stable-baselines[mpi]
tensorflow
joblib

# plot
matplotlib

# testing requirements
pytest

# packaging
setuptools
